
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #141414; 
  color: #fff; 
}

/* Typography */
h1, h2 {
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  color: #ff4081;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #e91e63;
}

/* Header and Navigation */
header {
  background-color: #1a1a1a;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ff4081;
}

/* Sections */
section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

/* Hero Section */
.hero {
  background: linear-gradient(to bottom, #1a1a1a, #363535); 
  text-align: center;
  
}

.hero h1 {
  font-size: 72px;
  margin-bottom: 20px;
  color: #ff4081; 
  text-shadow: 0 0 10px rgba(255, 64, 129, 0.5);
}

/* About Section */
.about {
  background-color: #262626; 
}

.about h2 {
  font-size: 48px;
  margin-bottom: 40px;
  color: #ff4081; 
  text-shadow: 0 0 10px rgba(255, 64, 129, 0.5);
}

.about .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about img {
  max-width: 300px;
  height: auto;
  margin-right: 40px;
}

.about .text {
  text-align: center;
}

.about p {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Portfolio Section */
.portfolio {
  background-color: #333333; 
}

.portfolio h2 {
  font-size: 48px;
  margin-bottom: 40px;
  color: #ff4081; 
  text-shadow: 0 0 10px rgba(255, 64, 129, 0.5);
}

.portfolio-item {
  margin-bottom: 40px;
  text-align: center;
}

.portfolio-item p {
  font-size: 24px;
  margin-bottom: 10px;
}

.portfolio-item a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #262626; 
  border: 2px solid #ff4081; 
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 18px;
}

.portfolio-item a:hover {
  background-color: #ff4081; 
  color: #fff; 
}

/* Contact Section */
.contact {
  background-color: #262626; 
}

.contact h2 {
  font-size: 48px;
  margin-bottom: 40px;
  color: #ff4081; 
  text-shadow: 0 0 10px rgba(255, 64, 129, 0.5);
}

.contact p {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #1a1a1a; 
}
